
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*Hwllo Comment*@
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div> 
        @*@RenderBody()*@
        <h1> Hello My Layout</h1>
    </div>
</body>
</html>
