
<div>
    <table>
        <tr>
            <td>Created By </td>
            <td>Tushar More</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Center </td>
            <td>kharghar</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Roll No </td>
            <td>200240320128</td>
        </tr>
    </table>

</div>